*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(129, 16, 129);
    color: aliceblue;
}
.header{
    display: block;
    margin: 30px auto;
    width: 800px;
    height: auto;
    padding: 6px;
    border: 3px solid #000;
    border-radius: 10%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
h1{
    text-align: center;
    font-weight: 600;
    margin: 10px auto 10px;


}
.topimg{
    display: flex;
    justify-content: center;
}
#top{
    width: 300px;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: rgb(243, 143, 243);
    display: flex;
    align-items: center;
    border-radius: 8px;

}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background:transparent ;
    color: #080808;
    font-size: 18px;
    padding: 0 30px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: #f36805;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px ; 
    cursor: pointer;

}
::placeholder{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4); 
    
}
#showmore{
    background: #f36805;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer ;
    display: none;
}
#search-results {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

#search-results img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 600px) {

    h1 {
        font-size: 18px;
        padding: 0 10px;
    }

    #top {
        width: 130px;
    }

    #search-form {
        flex-direction: column;
        align-items: center;
    }

    #search-box {
        width: 100%;
    }

    #search-button {
        width: 100%;
    }

    #show-more {
        width: 90%;
    }
}
